<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepR Create Password</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/create-password.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/header') %>
  <main class="generate">
    <h3> Generate Password </h3>
    <form class="create-container" action="/password/create" method="POST">
      <h5> Website </h5>
      <input
      class="form-control"
      type="websiteName"
      name="websiteName"
      placeholder="Website Name"
      style="width: 300px; margin: 1em"
      />
      <br>
      <h5> Category </h5>
      <input
      class="form-control"
      type="category"
      name="category"
      placeholder="Category"
      style="width: 300px; margin: 1em"
      />
      <br>
      <h5> URL</h5>
      <input
      class="form-control"
      type="url"
      name="url"
      placeholder="Website URL"
      style="width: 300px; margin: 1em"
      />
      <br>
      <h5> Username </h5>
      <input
      class="form-control"
      type="username"
      name="username"
      placeholder="Username"
      style="width: 300px; margin: 1em"
      />
      <br>
      <h5> Password </h5>
      <input
      class="form-control"
      type="passwordLength"
      name="passwordLength"
      placeholder="Enter Password Length"
      style="width: 300px; margin: 1em"
      />
      <br>
      <div class="checkboxes">
        <label for="specialChar">Special Characters</label>
        <input type="checkbox" id="specialChar" name="specialChar" value=true>
        <label for="upperCase">Upper Case Characters</label><br>
        <input type="checkbox" id="upperCase" name="upperCase" value=true>
        <label for="allChar">All Characters</label>
        <input type="checkbox" id="allChar" name="allChar" value=true>
      </div>
      <br>

      <button class="btn btn-primary">Generate</button>
    </form>

  </main>
</body>

</html>
