<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h2>This is create passwords page</h1>

  <h3>
    <form action="/password/create" method="POST">
      <input
      class="form-control"
      type="url"
      name="url"
      placeholder="Website URL"
      style="width: 300px; margin: 1em"
      /><br>
      <input
      class="form-control"
      type="username"
      name="username"
      placeholder="Username"
      style="width: 300px; margin: 1em"
      /><br>
      <input
      class="form-control"
      type="passwrodLength"
      name="passwordLength"
      placeholder="Enter Password Length"
      style="width: 300px; margin: 1em"
      /><br>
      <input type="checkbox" id="specialChar" name="specialChar" value=true>
      <label for="specialChar">Special Characters</label>
      <input type="checkbox" id="upperCase" name="upperCase" value=true>
      <label for="upperCase">Upper Case Characters</label><br>
      <input type="checkbox" id="allChar" name="allChar" value=true>
      <label for="allChar">All Characters</label>
      <br>

      <button class="btn btn-primary">test submit</button>
    </form>

  </h3>
</body>

</html>
