<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepR Password Edit</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="stylesheet" href="/styles/edit-password.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<%- include('partials/header') %>
<body>
  <main class="edit-password">
    <h3><strong>Edit Password</strong></h3>
    <form class="edit-container" action="/password/create" method="POST">
      <h5>Current Password:</h5>
        <h6>password</h6>
      <br>
      <h5>New Password:</h5>
      <input
      class="form-control"
      type="newpassword"
      name="newpassword"
      placeholder="Enter new password"
      style="width: 300px; margin: 0.5em"
      />
      <button class="btn btn-primary">Edit</button>
    </form>
  </main>
</body>

</html>
