<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepR</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="stylesheet" href="/styles/main-passwords.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<%- include('partials/header') %>
<body>

  <main class="passwords">
    <h4>Saved Passwords</h4>
      <div class="passwords-box">
        <div>
          <h6>facebook</h6>
        </div>
        <div>
          <h6>Social</h6>
        </div>
        <div>
          <h6>facebook.com</h6>
        </div>
        <div>
          <h6>Jo Blo</h6>
        </div>
        <div>
          <h6 id="password">password</h6>
        </div>
        <div class="button-container">
          <button onclick="copyToClipboard('#password')" class="btn btn-outline-info copy_password">Copy</button>
          <button class="btn btn-outline-danger delete_password" id="user id"
            type="submit">Delete</button>
          <button class="btn btn-outline-primary edit_password" id="user id" type="submit"
            style="display:block">Edit</button>
          <script> function copyToClipboard(element) {
            let $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
            }
          </script>
        </div>
      </div>
  </main>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>

</html>
