
.generate {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
}

.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  background-color: #a6e6f6;
  background-image: url("https://www.transparenttextures.com/patterns/noise-lines.png");
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  margin-top: 5px;
}

h3 {
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.checkboxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 1px;
}

#upperCase {
  margin-top: -25px;
}
