.edit-password {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
  margin-top: 10px;
}

.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background-color: #a6e6f6;
  background-image: url("https://www.transparenttextures.com/patterns/noise-lines.png");
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  margin-top: 15px;
}

.edit-container:hover {
  box-shadow: 5px 5px #c0c8e1;
}

.borderline {
  border-top: 1px solid black;
  padding: 0 125px;
  padding-top: 18px;
}

.btn {
  margin-top: 5px;
  margin-bottom: 10px;
}
