h5.navbar-header {
  display:flex;
  color: rgb(9, 9, 9);
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
  padding-top: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

.navbar {
  min-height: 50px;
  width: auto;
}

button {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 40px;
}

.navbar {
  background-color: #7fe1fa;
  background-image: url("https://www.transparenttextures.com/patterns/noise-lines.png");
}

.navbar-header p:nth-of-type(2) {
  flex-grow: 5;
}
