
main {
  max-width: 1350px;
  margin: auto;
  padding-left: 75px;
  padding-right: 50px;
  padding-top: 20px;
}

.passwords-box {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 150px;
  max-width: 30%;
  padding: 20px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 15px;
  border-radius: 5px;
  background: rgb(209, 223, 244);
}

.container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h6 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-bottom: 5px
}

button {
  margin-right: 10px;
  margin-top: 12px;
  margin-bottom: 5px;
  min-width: 65px;
}

.input {
  margin-top: 5px;
  margin-bottom: 5px;
}

