/* body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
} */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: #faf7f7;
  margin-left: 5%;
  margin-right: 5%;
}
