
$color-default: #f0f8fa;
$background-default: url("https://www.transparenttextures.com/patterns/subtle-dots.png");

body {
  background-color: $color-default;
  background-image: $background-default;
  margin-bottom: 15px;
}

